[mysqld]
skip-host-cache
skip-name-resolve

log_output=FILE

# General log settings:
general_log = 1
general_log_file = /var/lib/mysql/general.log
# Slow query settings:
slow_query_log = 0
slow_query_log_file = /var/lib/mysql/slow.log
long_query_time = 2
# Error Logging.
log-error = /var/lib/mysql/error.log
#Other
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
# By default we only accept connections from localhost
#bind-address	= 127.0.0.1
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

character-set-server=utf8mb4

[client]
default-character-set=utf8mb4